.input {
  margin-top: 1rem; 
  box-sizing: border-box;
  width: 60%;
  padding: 0.7rem;
  border: 1px solid rgb(148, 144, 144);
  background-color: rgb(92, 92, 92);
  font-weight: 70;

  outline: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 1rem;

  transition: 0.5s;
}