.input {
  margin-top: 1rem; 
  box-sizing: border-box;
  width: 60%;
  padding: 0.7rem;
  border: 1px solid rgb(133, 133, 133);
  background-color: rgb(92, 92, 92);
  outline: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  
  line-height: 1.4;
  font-size: 1rem;

  transition: all 0.5s;
}