.textarea {
  margin-top: 1rem; 
  box-sizing: border-box;
  width: 60%;
  padding: 0.7rem;
  border: 1px solid rgb(148, 144, 144);
  background-color: rgba(92, 92, 92, 0.336);
  outline: none;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  
  line-height: 1.4;
  font-size: 1rem;

  transition: all 0.5s;
}

.textarea:hover {
  background-color: rgba(68, 68, 68, 0.575);
}