.container {
  background-color: rgb(31, 16, 71);
  background-size: cover;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 39.2rem;
}

.title {
  width: 60%;
  font-size: 1.7rem;
}