.content {
  background-color: rgb(38, 31, 49);
}

.banner {
  background-image: url("/images/banner.jpg");
  background-size: cover;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
  
  .title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  .description {
    font-weight: 200;
  }
}

.title {
  margin-bottom: 3%;
  font-size: 1.5rem; 
  
}
.championnews {
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-align: center;
  
  gap: 4rem;
  font-size: .5rem;
}

.container {
  display: flex;
  justify-content: space-around;
  word-break: break-all;
}
