.prestige {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
  .prestigeinfo {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0 0 8rem;
    .prestigetitle {
      margin-left: 11.5rem;
    }

    .prestigedescription {
      text-align: end;
      width: 30rem;
      font-size: 1.2rem;
      margin-right: -1rem;
    }
  }
}

