.ad {
  background-color: #702c2c;
  width: 50%;
  margin: 2rem 0 0 1rem;
  border-radius: 5px;
  display: flex;

}

.adinfo {
  margin: .5rem 1rem .5rem 1rem;
}

.link {
  cursor: pointer;
}

.linkimage {
  margin-bottom: 0.5rem;
}
