.titles {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
}

.subtitle {
  font-size: 1rem;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}