.container {
  background-color: rgba(0, 0, 0, 0.479);
  border-radius: 0.2rem;

  backdrop-filter: blur(0.3rem);
  padding: 2rem;
}

.text {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 7rem;
}

.socialmedia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 20%;
}

.facebook {
  outline: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  padding: 0.5rem;

  border-radius: 0.3rem;
  background-color: rgb(53, 53, 226);
}

.facebook:hover {
  transition: 0.2s;
  background-color: rgb(35, 35, 170);
}

.instagram {
  outline: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  padding: 0.5rem;

  border-radius: 0.3rem;
  background-color: rgb(255, 136, 136);
}

.instagram:hover {
  transition: 0.2s;
  background-color: rgb(207, 99, 99);
}

.discord {
  outline: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  padding: 0.5rem;

  border-radius: 0.3rem;
  background-color: rgb(68, 87, 255);
}

.discord:hover {
  transition: 0.2s;
  background-color: rgb(50, 66, 202);
}

.github {
  outline: none;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  padding: 0.5rem;

  border-radius: 0.3rem;
  background-color: rgb(53, 134, 226);
}

.github:hover {
  transition: 0.2s;
  background-color: rgb(36, 99, 172);
}
