

.bar {
  background-color: rgba(255, 255, 255, 0.24);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  backdrop-filter: blur(0.5rem);
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
}

.logo {
  margin-left: 1rem;
  width: 20%;
  font-size: 1.2rem;
  letter-spacing: .2rem;
  cursor: pointer;

  strong {
    font-weight: 400;
    color: rgb(168, 168, 168);
  }
}

.item {
  width: 20%;
  display: flex;
  gap: .9rem;
  margin: 1rem -3rem  }

.link {
  transition: 0.2s;
  text-decoration: none;

}

.link:hover {
    border-radius: .2rem;
    background-color: #777; 
    padding: .2rem .4rem .2rem .4rem;
    cursor: pointer;
}


