.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
}

.carousel {
  width: 40rem;
}

.title {
  font-size: 2rem;
}

.skinName {
  font-size: 1.5rem;
}
.splashart {
  border-radius: 1rem;
}
