.news {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  strong {
    cursor: pointer;
  }
}

.patch {
   margin: 1.5rem 0 3rem 0;
   border-radius: 5px;
}

.linkimage {
  margin-bottom: 0.5rem;
} 